<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{site.title}"></title>
<link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2">
				<!-- menuyu replace etmek için -->
				<div th:replace="fragment/menu.html :: menu"></div>
			</div>
			<div class="col-10">
				<table class="table table-striped table-bordered">
					<thead class="table-dark">
						<tr>
							<th scope="col" class="col-auto" th:text="#{dersogrenci.id}"></th>
							<th scope="col" class="col-auto" th:text="#{dersogrenci.ogrenci.isim}"></th>
							<th scope="col" class="col-auto" th:text="#{dersogrenci.ders.ogretmen.isim}"></th>
							<th scope="col" class="col-auto" th:text="#{dersogrenci.ders.konu.isim}"></th>
							
							<th scope="col" class="col-auto" th:text="#{dersogrenci.bilgiler}"></th>
							<th scope="col" class="col-auto" th:text="#{dersogrenci.guncelle}"></th>
							<th sec:authorize="isAuthenticated()" scope="col" 
							class="col-auto" th:text="#{dersogrenci.sil}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dersogrenci : ${dersogrenci_list}">
							<td class="col-auto"><label th:text="${dersogrenci.ID}"></label></td>
							<td class="col-auto"><label th:text="${dersogrenci.ogrenci.NAME}"></label></td>
							<td class="col-auto"><label th:text="${dersogrenci.ders.ogretmen.NAME}"></label></td>
							<td class="col-auto"><label th:text="${dersogrenci.ders.konu.NAME}"></label></td>
							
							<td class="col-auto"><a th:text="#{dersogrenci.bilgiler}"
								class="btn btn-outline-primary"
								th:href="'/derskayit/detay?id=' + ${dersogrenci.ID}"></a></td>
							
							
							<td class="col-auto"><a th:text="#{dersogrenci.guncelle}"
								class="btn btn-outline-success" th:href="'/dersogrenci/guncelle?id=' + ${dersogrenci.ID}"></a></td>
							
							<td class="col-auto" sec:authorize="isAuthenticated()">
								<form action="/derskayit/sil" method="post">
									<input type="hidden" name="DERSOGRENCI_ID" th:value="${dersogrenci.ID}">
									<input type="submit"
										th:value="#{dersogrenci.sil}" class="btn btn-outline-danger">
								</form>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</html>