<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{site.title}"></title>
<link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2">
				<div th:replace="fragment/menu.html :: menu"></div>
			</div>
			<div class="col-10">
				<div class="card shadow">
					<div class="card shadow">
					<div class="card-body">
					
						<hr>
						<label>DERS ID : </label>
						<label class="form-label" th:text="${param.id}"></label>
						<hr>
						
						<hr>
						<label>KONU ID : </label>
						<label class="form-label" th:text="${ders.konu.ID}"></label>
						<hr> 
						
						<hr>
						<label>KONU ADI : </label>
						<label class="form-label" th:text="${ders.konu.NAME}"></label>
						<hr> 
						
						<hr>
						<label>ÖĞRETMEN ID : </label>
						<label class="form-label" th:text="${ders.ogretmen.ID}"></label>
						<hr> 
						
						<hr>
						<label>ÖĞRETMEN ADI : </label>
						<label class="form-label" th:text="${ders.ogretmen.NAME}"></label>
						<hr> 
						
						<button class="btn btn-danger" onclick="window.history.back();"
							th:text="#{site.goback}"></button>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</html>