<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{site.title}"></title>
<link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2">
				<div th:replace="fragment/menu.html :: menu"></div>
			</div>
			<div class="col-10">
				<div class="card shadow">
					<div class="card-body">
						<form action="guncelle" method="post" th:object="${ders}">
							<div>
								<select class="form-control" th:field="*{ogretmen}">
								
									<option th:each="ders : ${ders_list}"
									th:value="${ders.ogretmen.ID}" th:text="${ders.ogretmen.NAME}"></option>

								</select>
							</div>
<!-- 							<div> -->
<!-- 								<select class="form-control" th:field="*{ders}"> -->
<!-- 									<option th:each="ders : ${ders_list}" th:value="${ders.konu.ID}" -->
<!-- 										th:text="${ders.konu.NAME}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
							<div>
								<input type="submit" th:value="#{dersogrenci.ekle}"
									class="btn btn-primary mt-3">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</html>